@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

/* -----------------------------------------------------------------------------
 | Theme Files
 * -------------------------------------------------------------------------- */

@import "./themes/root.css";
@import "./themes/dark.css";
@import "./themes/tokens.css";

/*
|--------------------------------------------------------------------------
| Custom `dark:` Variant
|--------------------------------------------------------------------------
|
| Defines how Tailwind's `dark:` modifier should work.
|
| Example:
|   dark:bg-black
|   dark:text-white
|
| Meaning:
|   "Apply this utility when the element exists inside
|    an ancestor with the `.dark` class."
*/

@custom-variant dark (&:is(.dark *));

@layer base {
    html {
        @apply text-[14px] xs:text-[15px];
    }
    * {
        @apply border-border outline-ring/50;
        will-change: background-color, color, border-color;
    }
    body {
        @apply bg-background font-sans text-base text-foreground;
    }
}

@layer utilities {
    .shadow-ring-foreground {
        @apply ring-2 ring-border/70;
    }

    .text-secondary {
        @apply text-secondary-foreground/80;
    }

    .lite-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: rgba(2, 6, 24, 0.2) transparent;
    }

    .dark .lite-scrollbar {
        scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    }
}

/* Leaflet Dark Mode */

/*.dark .leaflet-layer,
.dark .leaflet-control-zoom-in,
.dark .leaflet-control-zoom-out,
.dark .leaflet-control-attribution {
    opacity: 0.5;
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}*/

/* Customize Leaflet z-index */
.leaflet-bottom.leaflet-right {
    z-index: 800 !important;
}

.leaflet-top.leaflet-left {
    z-index: 700 !important;
}

/* Customize Leaflet zoom control */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.leaflet-control-zoom a {
    border: none;
    background-color: var(--slate900);
    color: var(--slate50);
    font-size: 1.2rem !important;
    font-family: var(--font-sans);
    height: 2rem !important;
    width: 2rem !important;
    border-radius: 0.2rem !important;
    font-weight: 400;
    transition: background-color 0.2s ease;
}

.leaflet-control-zoom a:hover {
    background-color: var(--slate800);
}
